body {
  font-family: 'Roboto', sans-serif ;
  margin: 0;
  background: #f6f6f6;
}


 
 * a {
 	text-decoration: none;
 	color: white;
 }


.main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*===LOGO===*/

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 100%;
	box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
	background: white;
}

.header_logo{
	font-family: 'Shrikhand', cursive;
	margin: 0;
	color: black;
}

/*===LOGO===*/

/*===Localisation===*/


.localisation{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7a7a7a;


}

.localisation_icon{

}

.localisation_city{
	margin-left: 13px;
	font-weight: 400;
}

/*===Localisation===*/

/*===Reservez===*/

.reservez{
	background: #fafafa;
	width: 100%;
}

.reservez_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
}

.reservez_title{
	text-align: center;
	max-width: 250px;
	margin: 0;
}

.reservez_Subtitle{
	text-align: center;
	font-size: large;
}

.Reservez_button{
	opacity: 1;
	background: linear-gradient(180deg,#ff79da 0%,#9356dc 100%);
	color: white;
	padding: 0 20px;
	border-radius: 200px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
}
 

/*===Reservez===*/

/*===Fonctionnement===*/

.Fonctionnement_liste{
	padding: 25px 0;
	width: 100%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Fonctionnement{
	width: 95%;
	max-width: 1200px;
	background-color: white;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.Fonctionnement_title{
	margin: 0;
}

.Listes{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
	margin-top: 20px;
}


.Liste{
	display: flex;
	align-items: center;
	background: #f6f6f6;
	height: auto;
	width: auto;
	margin: 10px 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
	padding: 10px;
}

.Liste_1{ 
	background-color: #9356DC;
	color: white;
	padding: 3px 8px 3px 8px;
	border-radius: 500px;
	margin-left: -23px;
}

.Liste_2{
	background-color: #9356DC;
	color: white;
	padding: 3px 8px 3px 8px;
	border-radius: 500px;
	margin-left: -23px;
}

.Liste_3{
	background-color:#9356DC;
	color: white;
	padding: 3px 8px 3px 8px;
	border-radius: 500px;
	margin-left: -23px;
}

.Liste_icon{
	color: #7E7E7E;
	margin: 0 20px; 
}

.fa, .fas {
	font-weight: 900;
	font-size: larger;
	margin: 10px;
}

/*===Fonctionnement===*/

/*===Restaurant===*/

.restaurants{
	margin: 0;
	background: #f6f6f6;
	padding: 20px;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items: flex-start;
}

.restaurants_title{}

.restaurants_card{
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 1fr;
	grid-gap: 20px;
	padding: 20px;
	margin-top: -20px;
	width: 89%;
}

/*===Restaurant===*/


.restaurant_card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 115%;
	border-radius: 20px;  
	content-visibility: auto;
	margin-left: -25px;
}

.restaurant_card_new{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #99e2d0;
	top: 20px;
	right: 20px;
	position: absolute;
}

.restaurant_card_new p{
	color: #008766;
	padding: 10px 20px;
	margin: 0;
	font-weight: bold;
}

.restaurant_card_img{
	width: 100%;
	height: 160px;
}

.restaurant_card_img > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}


.restaurant_block{
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90px;
	border-radius: 0 0 20px 20px;
}

.restaurant_block_info{
	color: black;
	margin-left: 20px;
}

.restaurant_block_title{
	font-weight: 700;
}


/*===Footer===*/

.footer{
	width: 100%;
	background-color:#353535;
	display: flex;
	justify-content: center;
	align-items: center;

}

.footer_bloc{
	display: inline;
	padding: 0 40px;
	width : 100%;
	max-width: 1200px;

}

.footer_bloc_links{
	display: inline-flex;
	flex-direction: column;
	width: auto;
}

.footer_bloc_link{
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	text-align: center;
	color: white;
	height: 30px;
	cursor: pointer;

}

.footer_bloc_link_title{
	font-size: 16px;
	color: white;
	font-weight: 500;
}

.logoOMF{
	font-family: 'Shrikhand', cursive;
	color: white;
	font-size: 20px;
	padding: 15px 0;
}
/*===Footer===*/


/*===Media===*/

@media screen and (min-width: 800px){
	.Listes{
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 100%;
	}

	.Liste{
		width: 100%;
	}

	.restaurants_card{
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr;
	}

	.restaurant_card{
		width: 100%;
	}

	.footer_bloc{
		margin-bottom: 15px;
	}

	.footer_bloc_links{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		max-width: 900px;
	}

	.Reservez_button:hover{
		cursor: pointer;
		opacity: 0.7;
		transition: .3s;
	}

	.Liste:hover{
		cursor: pointer;
		background-color: white;
		transition: .3s;
	}

	.restaurant_card:hover{
		cursor: pointer;
		box-shadow: 0px 0px 10px 0px rgb(147,86,220,1);
		transform: scale(1.03);
    transition: ease 0.4s;
	}

  .footer_bloc_link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}


