*{
	padding: 0px;
}

header{
	font-family: 'Shrikhand';
}
body{
	font-family: 'Roboto';
}




.header{
	text-align:center;

}

.localisation{
    ;
}

.localisationHeader{
	background-color: #F6F6F6;

}

.localisationHeaderParis{
	background-color: #EAEAEA;
	text-align: center;
	padding: 20px;
	
}


.localisationHeaderTitle{
	text-align: center;
}


.localisationHeaderSubtitle{
	text-align: center;
}


.localisationHeaderParisIcon{
	display: inline flex;
	align-items: center;

}


